{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block title %}Home{% endblock %}

{% block body %}

<div>
    <div class="center">
        <h1>Welcome to my ED5</h1>
        <p>
            Here I will take you on a tour through the history of the internet. <br>
            There will be a little journey through the past, present and potential future of the internet.
            <br>
            I chose this subject because I personally find it very interesting and I hope you will too. Also because I think it is important to know where the internet came from and where it is going. <br>
            This museum is an interactive ride trough the history of the internet. <br>
            <br> <br>
            To get started just sit back, relax and click the button to begin.
        </p>
        <a class="button" onclick="skipTutorial();">Start</a>
    </div>
</div>

{% endblock %}